/* body{font-family: 'Rubik', sans-serif;}
#loginPage{width:500px;margin:auto;margin-top:10%;font-family: 'Roboto', sans-serif;}

#login{width:100%;background:#2c3e50;}
#login{height:200px;}
.yellow{background-color:gold;}

#buttons{height:100px;background:#2c3e50;}
#buttons > p {width:49.95%;float:left;color:white;text-align:center;padding-top:25px;height:75%;margin:0;}
#buttons > p:hover{background:#f1c40f;color:#2c3e50;cursor:pointer;}
#first,#last,#confirm{width:250px;}
#email{width:175px;}
#password{width:125px;margin-left:6px !important;}


#login > #email,#login > #password,#login >button{width:250px;margin-left:125px !important;margin-top:20px;height:25px;}
.error {
  color: red;
  display: inline-block;
  margin-left: 130px;
}
.planets-component .planets-container {
  padding: 15px !important;
}

.planets-component .planets {
  display: inline-block;
  color: #fff;
  height: 100px;
  text-align: center;
  padding: 10px;
  margin: 0 5px 5px 0;
  box-sizing: content-box;
}

.planets-component .planets span {
  display: block;
}

.loggedin-user {
  padding: 15px;
  font-size: 20px;
}

.input-group {
    float: left;
    width: 350px;
    height: 30px;
    margin-top: 25px;
    margin-left: 30px;
    border-radius: 5px;
    overflow: hidden;
}
.ais-search-box {
    position: relative;
    max-width: 300px;
    width: 100%;
}
.heading {
    margin-left: 30px
} */

html, body {
  font-family: "Open Sans", Helvetica, arial;
  font-size: 16px;
  line-height: 1.36;
  max-width: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

body * {
  box-sizing: border-box;
}

.container {
  margin: 20px auto;
  max-width: 400px;
  width: 100%;
}

.btn {
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 12px;
  text-align: center;
}
.btn.-default {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #4c5e65;
}
.btn.-default:hover {
  background-color: #eee;
}
.btn.-primary {
  background-color: #2989c6;
  border: 1px solid #2989c6;
}
.btn.-primary:hover {
  background-color: #257ab1;
}

.progress {
  margin-bottom: 20px;
  transition: all 0.2s ease;
}

.progress-step {
  display: block;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 18px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.form-fields {
  list-style: none;
  margin: 0;
  padding: 0;
}
.form-fields > li {
    margin-bottom: 20px;
}

.form-footer {
  border-top: 1px solid #ddd;
  margin-top: 10px;
  padding-top: 20px;
}

.label {
  display: block;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 4px;
}

label {
  display: block;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 4px;
}

.checkbox label, .radio label {
  cursor: pointer;
  display: inline-block;
  font-weight: normal;
  padding: 1px 12px 1px 30px;
  position: relative;
}

.checkbox label input, .radio label input {
  left: 0;
  position: absolute;
  top: 0;
}

input {
  font-size: 16px;
  padding: 8px;
  width: 100%;
}

select {
  font-size: 16px;
  padding: 8px;
}